body {
    color: #000;
    font-family: Consolas, monaco, monospace;
    /* padding: 1rem; */
}

.dump {
    color: #ccc;
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
    font-size: 2rem;
    line-height: 1.5;
    margin: 0;
    word-break: break-all;
}

.dump--blendin {
    color: #ffffff;
}

.dump--error {
    color: #CC1133;
    font-family: Consolas, monaco, monospace;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    word-break: inherit;
}

